:root {
  --app-bg-color: rgba(255, 255, 255, 1);

  --nav-bg-color: rgba(222, 225, 230, 1);
  --nav-icon-hover-bg-color: rgba(199, 202, 207, 1);

  --btn-text-color: #FFFFFF;

  --split-line-color: #979797;
  --dashed-line-color: #979797;

  --home-page-title-color: #4F5D79;
  --home-page-btn-excel-to-json-bg-color: rgba(31,187,125, 0.8);
  --home-page-btn-excel-to-json-bg-color-hover: rgba(31,187,125, 1);
  --home-page-btn-json-to-excel-bg-color: rgba(65,127,249, 0.8);
  --home-page-btn-json-to-excel-bg-color-hover: rgba(65,127,249, 1);

  --diagram-title-color: #4F5D79;
}